@model List<Matehews.Models.Categorie>

@{
    ViewData["Title"] = "Categorias";
}
<h2>@ViewData["Title"]</h2>
<!-- <h3>@ViewData["Message"]</h3> -->

<script>
    //ESta pagina solo espara usuarios administradores asi que.
      isOnlyAdminPage(); 
    //redirectIfNoLogged();
</script> 
<div id="categories-container"> 
    @foreach(var categorie in Model)
    { 
    <button onclick="showInfo(event)" type="button" class="btn btn-danger">@Html.DisplayFor(modelItem => categorie.name)</button>
    
    }
</div>
<hr>
<div class="container">
<div class="row">
    <div  class="col-8">
        <form id="categorie-form">
            <div class="form-group">
                    <label for="name">Nombre</label>
                    <input readonly type="text" name="name" id="name" class="form-control" aria-describedby="nameHelp" placeholder="Ej: Finanzas">
                    <!-- <small name="nameHelp" id="nameHelp" class="form-text text-muted">We'll never share your name with anyone else.</small> -->
                </div>
                <div class="form-group">
                    <label for="description">Descripcion</label>
                    <input readonly type="text" name="description" id="description" class="form-control" aria-describedby="descriptionHelp" placeholder="Ej: Contenido acerca de economia, mayordomia y blosa de valores">
                    <!-- <small name="nameHelp" id="nameHelp" class="form-text text-muted">We'll never share your name with anyone else.</small> -->
                </div>
                <div class="form-group">
                    <label for="count">Cantidad de Publicaciones</label>
                    <input readonly type="text" name="cantPosts" id="cantPosts" class="form-control" aria-describedby="countHelp" placeholder="320">
                    <!-- <small name="countHelp" id="countHelp" class="form-text text-muted">We'll never share your name with anyone else.</small> -->
                </div> 
        </form>
        <button disabled id="saveBtn" class="btn btn-success" onclick="save()">Guardar</button> 
        <button disabled id="cancelBtn" class="btn btn-danger" onclick="cancel()">Cancelar</button> 
    </div> 
    <div class="col-4">
        <button onclick="update()" disabled id="updateBtn" class="btn btn-dark" >Modificar</button>
        <button onclick="add()" id="addBtn" class="btn btn-dark" >Nueva</button>
    </div>
</div>
</div>



@section Scripts
{
    <script>
  

    </script>
}