<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Mateh News</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
         <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
         <link rel="stylesheet" href="~/newspaper-template/style.css">   

<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.9.1/css/froala_editor.pkgd.css' rel='stylesheet' type='text/css' />
<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.9.1/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
<link href='https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/css/froala_style.min.css' rel='stylesheet' type='text/css' />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css"> 

 
 
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("heads", required: false) 
</head>
<body style="margin-top: 20px;"> 
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
       
     <script src="~/js/app/consts.js" asp-append-version="true"></script>  
        <script src="~/js/app/account.js" asp-append-version="true"></script>
    <script src="~/js/app/admin.js" asp-append-version="true"></script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.2&appId=213555639552661&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
   
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Mateh News</a>
            </div>
            <div class="navbar-collapse collapse menu">
                <DIV class="classynav">
   <ul id="menu-list" class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Principal</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Sections">Categorias</a></li>          
                    <!-- Solo si es Administrador -->
                        <!-- if(Model.AccessKey == 100){ --> 
                    <li class="only-admin"><a asp-area="" asp-controller="Admin" asp-action="CPanel">Panel De Control</a></li>    
                    <li class="noLogged" ><a asp-area="" asp-controller="Account" asp-action="Register">Resgistrarse</a></li>
                    <li class="noLogged"><a asp-area="" asp-controller="Account" asp-action="Login">Iniciar Sesion</a></li>   
                    <li class="only-logged dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul id="" class="dropdown-menu dropdown-user">
                            <li><a id="perfil" href="~/Account/Profile"><i class="fa fa-user fa-fw"></i>Perfil de Usuario</a>
                            </li>
                            <li class="divider"></li> 
                            <li><a onclick="logout()"><i class="fa fa-sign-out fa-fw"></i>Cerrar Sesion</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                    <a id="username" class="navbar-brand"></a>   
                </ul>
                </DIV>
             
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Matehews</p>
        </footer>
    </div>

    <environment include="Development">
       

        <script>
                $('.only-admin').hide();
            isLogged(
                (user)=>{
                    console.log("IsAdmin? : ", isAdmin())
                    if(isAdmin()){
                         $('.only-admin').show();
                    }
                    $('#perfil').attr('href', `${URL}/Account/Profile/${user.id}`)  
                   $('.noLogged').hide()
                   $('#username').val(user.first + ' ' + user.last)
                },
                (err)=>{
                    $('.noLogged').show()
                    $('.only-logged').hide()
                    $('.only-admin').hide()
            }); 
        </script>  
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script> 
 </environment>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script> -->

<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.9.1/js/froala_editor.pkgd.min.js'></script><!-- Include PDF export JS lib. -->
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
 <!-- Include PDF export JS lib. -->
<script type="text/javascript" src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
 
<script type="text/javascript" src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    @RenderSection("Scripts", required: false) 
</body>
</html>
