
@{
    ViewData["Title"] = "Registrar";
}

<h2>Registrar</h2>

<div class="container">
    <form action="AddUser" method="post">
        <div class="form-group">
                <label for="First">Nombres</label>
                <input type="text" id="First" class="form-control" aria-describedby="FirstHelp" placeholder="Ej: Mateh">
                <small id="FirstHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
                <label for="Last">Apellidos</label>
                <input type="text" id="Last" class="form-control" aria-describedby="LastHelp" placeholder="Ej: Elismar">
                <!-- <small id="LastHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
                <label for="Username">Nombre de Usuario</label>
                <input type="text" id="Username" class="form-control" aria-describedby="UsernameHelp" placeholder="Ej: Mateh_Elismar">
                <small id="UsernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
                <label for="Email">Correo Electronico</label>
                <input type="text" id="Email" class="form-control" aria-describedby="EmailHelp" placeholder="Ej: mateh@elismar.com">
                <!-- <small id="EmailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
                <label for="Pass">Contraseña</label>
                <input type="text" id="Pass" class="form-control" aria-describedby="PassHelp" placeholder="Ej: laamo123">
                <!-- <small id="PassHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
                <label for="Pass2">Repite la Contraseña</label>
                <input type="text" id="Pass2" class="form-control" aria-describedby="PassHelp" >
                <!-- <small id="PassHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
                <label for="Email">Correo Electronico</label>
                <input type="text" id="Email" class="form-control" aria-describedby="EmailHelp" placeholder="Ej: mateh@elismar.com">
                <!-- <small id="EmailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div> 
        <button class="btn btn-danger" type="submit">Registrar</button>
    </form>
</div>

